body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
div {
  font-size: 20px;
  
}
.create {
  display: flex;
  align-content: center
}
.text {
  width: 300px;
  height: 100px;
}
.button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 50px;
}
button {
  width: 120px;
  height: 40px;
  font-size: 24px; 
}
.user {
  border: 1px solid black;
  margin-top: 10px;
  width: 800px;
}
.delete {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url('https://i.stack.imgur.com/cLnMQ.png') no-repeat center center / contain;
  cursor: pointer;
  margin-left: 20px;
  margin-top: 10px;
}
.name {
  font-weight: bold;
}

